@model Adega.Models.LandingLeadInput

<section id="teste" class="final-cta">
    <div class="container">
        <h2 class="section-title section-title--light">
            Pronto para modernizar sua loja?
        </h2>
        <p class="section-subtitle section-subtitle--light">
            Junte-se a centenas de lojas que jรก vendem mais e melhor com o Easy4me
        </p>

        <partial name="_LeadForm" model="Model" />
    </div>
</section>
